---
import {getCollection} from 'astro:content'
import {css} from 'styled-system/css'
import PostCard from '../../components/PostCard.astro'
import BaseLayout from '../../layouts/BaseLayout.astro'
import {sortPostsByDateDesc} from '../../lib/blog'

const posts = sortPostsByDateDesc(await getCollection('blog'))
---

<BaseLayout title="Blog" description="Blog posts by David J Felix">
  <h1
    class={css({
      fontSize: '3xl',
      fontWeight: 'bold',
      mb: '8',
    })}
  >
    Blog
  </h1>

  <div class={css({display: 'flex', flexDirection: 'column', gap: '6'})}>
    {posts.map((post) => <PostCard post={post} />)}
  </div>
</BaseLayout>
